<%- include("partials/header") -%>
<a class="btn btn-light btn-lg" href="/admin/dashboard/addbook" role="button">Add Book</a>
<a class="btn btn-dark btn-lg" href="/admin/dashboard/removebook" role="button">Remove Book</a>
<a class="btn btn-dark btn-lg" href="/admin/dashboard/addadmin" role="button">Add Admin</a>
<%- include("partials/footer") -%>